body {
    margin:0;
    font-size: 15px;
    /*font-family: 'Montserrat', sans-serif;*/
    line-height: 1.3;
    font-family: 'Saira', sans-serif;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

hr{
    /*border: none;*/
    /*border: 1px solid #C6C6C6;*/
    border: none;
    height: 0.01em;
    background-color:black;
}

/*Container*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*** Header ***/
.header{
    padding-top: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /*background-color: #A3DCFF;*/
    background-color: #ffffff;
    padding-bottom: 7px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 24px;
    font-weight: 700;
}

.sblog__logo__link{
    text-decoration: none;
    color: #000000;
}

.sblog__logo{
    width:45px;
    height: 45px;
    margin-right: 10px;
}

nav{
    font-size: 16px;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 15px;
    /*color: #fff;*/
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: inherit;
    padding: 5px 0;
}

.get__started{
    background-color: black;
    color: #ffffff;
    border-radius: 7px;
    padding: 5px 10px;
}


/* ----- Intro -----*/
.intro{
    padding:20px 0;
    margin-top: 60px;
    display: block;
    /*background-color: #A3DCFF;*/
    /*background-color: #13E7D6;*/
    background-color: #66F0A8;
}

.intro__inner{
    /*height: auto;*/
    /*width: 100px;*/
    /*display: flex;*/
    display: flex;
    justify-content: space-between;
}

.inner__title{
    font-size: 48px;
    font-weight: 500;
    width: 400px;
}

.inner__text{
    font-size: 24px;
    width: 500px;
}

.inner__left{
    width: 60%;
}

.inner__right{
    width: 40%;
    padding-top: 20px;
}

.start__button{
    font-family: 'Saira', sans-serif;
    padding: 5px 10px;
    float: right;
    margin-right: 250px;
    /*position: absolute;*/
    top: 50%;
    border: none;
    background-color: #ffffff;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}


/*----- Top eight ------*/
.top_eight_blogs{
    margin-top: 25px;
}

.top__eight__head{
    font-size:26px;
    font-weight: 500;
}

.top__eight__by__two{
    margin: 20px 0;
    display: flex;
}

.top__eight__main{
    display: inline-block;
    width:50%;
    cursor: pointer;
}

.top__eight__number{
    color:#B4B4B4;
    font-weight: bold;
    font-size: 36px;
    margin-right: 5px;
}


.top__eight__img{
    height: 100px;
    width: 180px;
}

.top__eight__info{
    margin-left: 10px;
    display: inline-block;
    width: 18.75rem;
    top:0;
    position: relative;
    vertical-align: top;
    height: 88%;
}

.top__eight__title{
    font-size:1rem;
    font-weight: 500;

}

.top__eight__author__date{
  margin-top: 1rem;
}

.top__eight__author__name{
    font-size: 1rem;
    color:#4B0082;
    font-weight: 500;
}

.top__eight__blog__date{
    position: relative;
    float: right;
    margin-right: 1rem;
    font-size: 14px;
    font-style: italic;
}


/*---Blog List---*/
.list_blogs{
    margin-top: 30px;
}

.list__blogs__main{
    margin-top: 30px;
    /*cursor: pointer;*/
    display: block;
}

.list__blogs__main:link{
    color: black;
}

.list__blogs__img{
    height: 120px;
    width: 200px;
}

.list__blogs__info{
    margin-left: 10px;
    display: inline-block;
    width: 30rem;
    top:0;
    position: relative;
    vertical-align: top;
    height: auto;
}

.list__blogs__title{
    font-size:1.5rem;
    font-weight: 500;
}

.list__blogs__short__text{
    display: block;
    margin-top: 5px;
    font-size:1rem;
    color: #B4B4B4;
}

.list__blogs__author__date{
    margin-top: 1rem;
}

.list__blogs__author__name{
    padding: 0;
}

.list__blogs__date{
    position: relative;
    float: right;
    margin-right: 1rem;
    font-size: 14px;
    font-style: italic;
}


/*--Read BLog---*/

.blog__section{
    position: static;
    display: block;
    /*margin-top: 100px;*/
    /*background-color: #D4D4D4;*/
    padding-top: 100px;
}

.blog__main{
    padding: 20px 20px 20px 20px;
    max-width:700px;
    margin: 10px auto;
    background-color: #ffffff;
    /*border: 1px solid ;*/
    /*box-shadow: inherit;*/

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blog__title{
    font-family: 'Saira', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.blog__text{
    text-indent: 1.5em;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.003em;
    /*text-align: justify;*/
    /*font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;*/

}

.blog__img{
    width: 650px;
    height: 400px;
}


/* New Blog Block*/
.blogs__main{
    margin: 20px 0 20px 0;
    padding: 10px;
    height: auto;
    width: 700px;
    max-width:700px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px;
}


.blogs__user__info{
    /*float: left;*/

    height: 50px;
}

.blogs__user_img{
    width:45px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

}

.blogs__user__name{
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 1rem;

}

.blogs__user__fill{
    display: inline-block;
    float: right;
}

/* bLogs INfo*/

.blogs__img{
    height: 120px;
    width: 200px;
}

.blogs__info{
    margin-left: 10px;
    display: inline-block;
    width: 29rem;
    top:0;
    position: relative;
    vertical-align: top;
    height: 120px;

}

.blogs__title{
    font-size:22px;
    font-weight: 500;
}

.blogs__short__text{
    display: block;
    margin-top: 5px;
    font-size:1rem;
    color: #B4B4B4;

}

.blogs__category{
    padding: 3px;
    border-radius: 5px;
    float: left;
    display: block;
    font-size:16px;
    /*font-weight:300;*/
    background-color:#66CDF0;
    position: absolute;
    bottom: 0;
}

.blogs__footer{
    margin-top: 10px;
    width:100%;
    display:table;
}

.blogs__like_icon{
    width: 5%;
    display:table-cell;
    vertical-align:middle;

}

.blogs__number__likes{
    /*height: 45px;*/
    width: 15%;
    /*background-color: #2563eb;*/
    display:table-cell;
    vertical-align:middle;
}

.blogs__comment__icon{
    width: 5%;
    margin-top: 2px;
    /*background-color: rosybrown;*/
    display:table-cell;
    vertical-align:middle;
}

.blogs__number__comments{

    /*background-color: #2563eb;*/
    display:table-cell;
    vertical-align:middle;
}

.blogs__publish__date{
    text-align: right;
    display:table-cell;
    vertical-align:middle;
}
